//..............................VARIABLES .............................   

$color-Primary: #FFD700;
$color-Secondary: 	#CFAA01;
$color-pink: #FF3366;
$color-pink-dark: #BA265D;

$Grey-light-1: #faf9f9;
$Grey-light-2: #f4f2f2;
$Grey-light-3: #f0eeee;
$Grey-light-4: #ccc;

$Grey-dark-1: #333;
$Grey-dark-2: #777;
$Grey-dark-3: #999;

// Breakpoints variables ...........
$bp-mini-phone: 25em; //400px
$bp-phone: 37.5em; // 600px
$bp-tab-port: 56.25em;  //900px
$bp-tab-land: 75em;    // 1200px
$bp-desktop: 100em;     // 1600px
$bp-big-desktop: 100.06em; // 1601px
$bp-bigest-desktop: 131.25em; // 2100px
$bp-too-big-desktop: 143.75em;  // 2300px
//..............................VARIABLES  END .............................   


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 65.5%;
    background-image: linear-gradient(rgba(rgb(172, 168, 168), .5), rgba(rgb(143, 134, 134), .5));
    background-size: cover;
    background-position: fixed;


    @media only screen and (max-width: $bp-phone) {
        font-size: 35%;
    }
    @media only screen and (max-width: $bp-tab-port) {
        font-size: 45% !important;
    }
    @media only screen and (max-width: $bp-tab-land) {
        font-size: 50% !important;
    }
    @media only screen and (max-width: $bp-desktop) {
        font-size: 67%;
    }
    @media only screen and (min-width: $bp-big-desktop) {
        font-size: 83%;
    }
    @media only screen and (min-width: $bp-bigest-desktop) {
        font-size: 85%;
    }
    @media only screen and (min-width: $bp-too-big-desktop) {
        font-size: 95.75%;
    }
    
}
body {
    box-sizing: border-box;
}

.container {
    max-width: 130rem;
    
    background-color: transparent;
    margin: 6rem auto;


    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
}

